<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://i.imgur.com/B5UTuIs.jpg');
    height: 50vh;">
    
    <div class=" text-center">
        <h1 class="title mb-3">Ospotemou</h1>
        <h5 class="subtitle mb-4">Album Viewer</h5>
    </div>
</div>
<!-- Background image -->

<br>

<app-categories></app-categories>

<br> 

<hr class="hr hr-blurry" />

<br>

<app-about></app-about>

<br>

<hr class="hr hr-blurry" />

<br>