<div class="row d-flex justify-content-center text-center">
    <div>
        <h3>About this Project</h3>
        <br>
        <p>The purpose of this project is for me to learn Angular. I have previously made the same project using <br>
            PHP, HTML, CSS so the database is the same. I implemented the Backend using Java Spring Boot <br>
            and the Frontend using Angular. More specifically, the technologies that are used are : 
        </p>
        <br>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/3kUk1Fk.png" class="card-img-top mx-auto" alt="Angular icon"/>
            <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">
                Angular is a popular open-source web application framework developed by Google. It simplifies the development of dynamic, 
                single-page web applications by providing a structured framework for building client-side applications using TypeScript.
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/qHbYTmH.png" class="card-img-top mx-auto" alt="Spring Boot icon"/>
            <div class="card-body">
            <h5 class="card-title">Spring Boot</h5>
            <p class="card-text">
                Spring Boot is an open-source Java framework that simplifies and accelerates the development of production-ready, 
                stand-alone, and web-based applications by providing a convention-over-configuration approach 
                and a range of built-in features.
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/qJNZxQY.png" class="card-img-top mx-auto" alt="MDBoostrap icon"/>
            <div class="card-body">
            <h5 class="card-title">MDBoostrap</h5>
            <p class="card-text">
                MDBootstrap (or MDB) is a popular front-end framework for building responsive and modern web applications using 
                HTML, CSS, and JavaScript, with a focus on Material Design principles and components.
            </p>
            </div>
        </div>
    </div>
</div>
