.card-img-top {
    width: 50%;
  }
  
  @media (max-width: 780px) {
    
    .card {
        max-width: 80%;
        flex-direction: column; // Stack cards vertically
        justify-content: center; // Center-align the cards vertically
        align-items: center; // Center-align the cards horizontally
    }
    
    .content-container {
      background-color: #f0f0f0; // Background color for the content container
      padding: 20px; 
      border-radius: 10px; 
      text-align: center; 
      max-width: 80%; 
      margin: 0 auto; 
      
    }

    .content-container p {
      text-align: justify; // Justify the text within the container
      text-align-last: justify; // Handle the last line of text
      margin: 0; // Remove default margins on the paragraph element
    }
    
  }


  
  
  