<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <img
        src="https://i.imgur.com/RI3YFnA.png"
        height="40"
        alt=""
        loading="lazy"
      />
    </a>
    <!-- Container wrapper -->
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="rightAligned.toggle()"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarRightAlignExample"
        mdbCollapse
        #rightAligned="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>