<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="https://www.facebook.com/ermina.trontzou" >
          <fa-icon size="2x" [icon]="faFacebookF" height="1.25 rem"></fa-icon>
        </a>

        <!-- Instagram -->
        <a  href="https://www.instagram.com/ermina.tr/">
          <fa-icon size="2x" [icon]="faInstagram"></fa-icon>
        </a>
  
        <!-- Github -->
        <a  href="https://github.com/ErminaTrontzou" >
          <fa-icon size="2x" [icon]="faGithub"></fa-icon>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Ermina Trontzou</a>
    </div>
    <!-- Copyright -->
  </footer>