<div class="errorMessage" *ngIf="albumErrorMessage">
  <i class="fas fa-exclamation-triangle"></i>
  <p>{{ albumErrorMessage }}</p>
</div>
<h1>Title: {{ album.name }}</h1>
<p>Artist: {{ album.artistName }}</p>
<img [src]="album.imagePath" alt="Album Cover">
<p> Release Date : {{ album.releaseDate }}</p>


<h2>Songs:</h2>
<div class="errorMessage" *ngIf="songErrorMessage">
  <i class="fas fa-exclamation-triangle"></i>
  <p>{{ songErrorMessage }}</p>
</div>
<ul>
  <li *ngFor="let song of songs">
    {{ song.name }} - Duration: {{ song.duration }} seconds
  </li>
</ul>